body{
  background-color: rgb(194, 191, 0);
}

#calc-container{
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
  height: 580px;
  width: 40%;
}

#display{
  background-color: azure;
  border-style: solid;
  border-radius: 5px;
  font-size: 24pt;
  font-weight: bold;
  height: 80px;
  width: 500px;
}

#title{
  font-size: 18pt;
  font-weight: bold;
}


.calc-buttons{
  background-color: white;
  border-radius: 8px;
  font-size: 14pt;
  font-weight: bold;
  height: 100px;
  width: 100%;  
}

.blue{
  background-color: rgb(0, 70, 175);
}


.red{
  background-color: rgb(196, 0, 0);
}

